.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#powered_by {
    float: left;
    font-size: 0.875em;
    width: 69.69697%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 36px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    margin-top: 10px;
    margin-left: -100%;
    clear: none;
    margin-right: 0%;
}

#hatte-logo {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin-top: 14px;
    margin-left: 44.444444%;
    clear: none;
    margin-right: 0%;
}

#Follow_us {
    float: left;
    font-size: 0.875em;
    width: 45.833333%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 36px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    margin-top: 12px;
    margin-left: -99.990699%;
    clear: none;
    margin-right: 0%;
}

#more {
    float: left;
    width: 25%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 31;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#We_are_proud_to_say_that_Climbing_Lovers_Jewelry_is_finally_in {
    float: left;
    font-size: 1.5em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 36px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 88;
    margin-top: 46px;
    margin-left: 0%;
    clear: both;
    margin-right: 0%;
}

#btn-tw {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 15;
    margin-top: 9px;
    margin-left: 9.52381%;
    clear: none;
    margin-right: 0%;
}

#products-4 {
    float: left;
    width: 25%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 34;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0px;
}

#logo {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 89;
    margin-top: 0px;
    margin-left: 36.536431%;
    clear: none;
    margin-right: 0%;
}

#allow {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 99;
    margin-top: 215px;
    margin-left: -36.40625%;
    clear: none;
}

#Scroll_down_to_learn_more {
    float: left;
    font-size: 1.125em;
    width: 71.640625%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 36px;
    color: rgb(208, 208, 208);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 100;
    margin-top: 183px;
    margin-left: 13.984375%;
    clear: both;
}

#BUY_NOW {
    float: left;
    font-size: 1.5em;
    width: 99.6%;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 36px;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 108;
    margin-top: 22px;
    margin-left: 0.4%;
    clear: none;
}

#btn-fb {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin-top: 9px;
    margin-left: 46.419271%;
    clear: none;
    margin-right: 0%;
}

#products-3 {
    float: left;
    width: 25%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 37;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#btn-bg {
    float: left;
    width: 19.53125%;
    height: 60px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 107;
    background-image:url("img/btn-bg.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 76px;
    margin-left: 40.15625%;
    clear: both;
}

#products-2 {
    float: left;
    width: 25%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 40;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#Climbing_Lovers_Jewelry_brings_to_you_creative_and_unique_desi {
    float: left;
    font-size: 1.5em;
    width: 71.640625%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 36px;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 95;
    margin-top: 56px;
    margin-left: 14.0625%;
    clear: both;
}

#CLIMBING_LOVERS_Jewelry {
    float: left;
    font-size: 3.75em;
    width: 99.609375%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 62px;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 96;
    margin-top: 189px;
    margin-left: 0%;
    clear: none;
}

#products-1 {
    float: left;
    width: 50%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 43;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#header_bg {
    float: left;
    width: 100%;
    height: 800px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 94;
    background-image:url("img/header_bg.jpg");
    -webkit-background-size: 1280px 800px;
    background-size: 1280px 800px;
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#box1 {
    float: left;
    height: auto;
    margin-left: 5%;
    margin-top: 82px;
    clear: both;
    width: 90%;
    max-width: none;
    margin-right: auto;
}

#box2 {
    float: left;
    height: auto;
    margin-left: 2.5%;
    margin-top: 38px;
    clear: both;
    width: 15.46875%;
}

#box3 {
    float: left;
    height: auto;
    margin-left: 66.5625%;
    margin-top: 35px;
    clear: none;
    width: 13.125%;
}

#box {
    float: left;
    height: auto;
    margin-left: 12.8125%;
    margin-top: 92px;
    clear: both;
    width: 73.984375%;
}

@media only screen and (max-width: 1280px) {
    #box1 {
        width: 90%;
        margin-left: 5%;
    }

    #box3 {
        width: 22.33%;
        margin-left: 57.16%;
    }
}

@media only screen and (max-width: 720px) {
    #products-1 {
        width: 80%;
        max-width: none;
        margin-left: 10%;
    }

    #products-2 {
        width: 80%;
        max-width: none;
        margin-left: 10%;
    }

    #products-3 {
        width: 80%;
        max-width: none;
        margin-left: 10%;
    }

    #products-4 {
        width: 80%;
        max-width: none;
        margin-left: 10%;
    }

    #more {
        width: 80%;
        max-width: none;
        margin-left: 10%;
    }

    #box1 {
        width: 50%;
        margin-right: auto;
        margin-left: 25%;
        margin-top: 30px;
    }

    #header_bg {
        height: 600px;
    }

    #CLIMBING_LOVERS_Jewelry {
        margin-top: 83px;
        font-size: 3.15em;
    }

    #Scroll_down_to_learn_more {
        margin-top: 40px;
    }

    #allow {
        margin-top: 78px;
    }

    #BUY_NOW {
        font-size: 0.9em;
    }

    #Climbing_Lovers_Jewelry_brings_to_you_creative_and_unique_desi {
        font-size: 1.1em;
    }

    #box2 {
        width: 30.07%;
    }

    #box3 {
        width: 34.93%;
        margin-left: 27.46%;
    }

    #Follow_us {
        margin-left: -213px;
    }

    #box {
        width: 70%;
        margin-left: 15%;
        margin-top: 40px;
    }

    #logo {
        margin-left: 25.44%;
    }
}

@media only screen and (max-width: 480px) {
    #CLIMBING_LOVERS_Jewelry {
        font-size: 2.45em;
        line-height: 43px;
    }

    #Climbing_Lovers_Jewelry_brings_to_you_creative_and_unique_desi {
        line-height: 26px;
    }

    #btn-bg {
        height: 33px;
    }

    #BUY_NOW {
        margin-top: 0px;
    }

    #box {
        margin-left: 5%;
        width: 90%;
    }

    #logo {
        margin-left: 19.54%;
    }

    #We_are_proud_to_say_that_Climbing_Lovers_Jewelry_is_finally_in {
        line-height: 29px;
    }

    #box1 {
        width: 70%;
        margin-top: 30px;
        margin-left: 15%;
    }

    #Follow_us {
        margin-left: -133px;
    }

    #btn-tw {
        margin-left: 5.32%;
    }

    #box2 {
        width: 41.17%;
    }

    #box3 {
        margin-left: 18.66%;
    }
}

